<section class="about">
<h1 class="text-center"> About</h1>
<p>
    E-learning, also referred to as online learning or electronic learning, 
    is the acquisition of knowledge which takes place through electronic technologies and media.
     In simple language, e-learning is defined as “learning that is enabled electronically”. Typically, e-learning is conducted on the Internet, where students can access their learning materials online at any place and time. E-Learning most often takes place in the form of online courses, online degrees, or online programs. There are many e-learning examples out there, 
    and we’ve covered those in greater detail in our previous articles.
</p>
<div class="follow text-center ">
    <h4>Follow Us</h4>
    <a href="https://www.Google.com" >Google</a>
    <a href="https://www.Facebook.com">Facebook</a>
    <a href="https://www.Instagram.com">instagram</a>
    <a href="https://www.Twitter.com">Twitter</a>

</div>
</section>
